.grid-container {
    display: grid;
    grid-template-columns: 350px auto auto;
    padding: 10px;
}

.grid-container-parcours {
    display: grid;
    grid-template-columns: 50% 50% 50%;
    padding: 10px;
}

.grid-item-coordonnees {
    padding: 20px;
    text-align: left;
}

.grid-item-infos {
    padding: 20px;
    text-align: center;
}

.grid-item-exp {
    padding: 20px;
    text-align: left;
}

.grid-item-formation {
    padding: 20px;
    text-align: right;
}

.skills {
    padding: 10px;
}